<div class="container">
    <header style="text-align: center;"><h3><b>Customer Details</b></h3></header>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">        
        <div class="text-center">
            <h6><b>Filter by Customer ID</b></h6> 
            <input type="text" [(ngModel)]="filteredCustomerID" placeholder="search for CustomerID">
        </div>
            <br>
            <br>

            <table class="text-center" style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td><h6><b>Customer Name</b></h6></td>
                    <td><h6><b>Account Number</b></h6></td>
                    <td><h6><b>Account Type</b></h6></td>
                </tr>
                <tr>
                    <td style="padding-right: 10px;"><input type="text" [(ngModel)]="cusName" #customerName = "ngModel" id="customerName" placeholder="Enter customer name"/></td>
                    <td style="padding-right: 10px;"><input type="text" [(ngModel)]="accNum" #accountNumber = "ngModel" id="accountNumber" placeholder="Enter account number"/></td>
                    <td style="width: 175px;">
                        <select style="width: 175px; height: 24px;" id="accountType"
                            [(ngModel)]="acctype" #accountType = "ngModel">
                            <option selected>Select Account</option>
                            <option value="Savings">Savings</option>
                            <option value="Current">Current</option>     
                            <option value="NRI">NRI</option>
                            <option value="Fixed">Fixed</option>
                            <option value="Recurring">Recurring</option>
                            <option value="Salary">Salary</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 20px;" colspan="3">
                        <button style="margin-right: 10px;" class="btn btn-primary" (click)="SearchUserAccount()">Search</button>
                        <button style="margin-left: 10px;" class="btn btn-primary" (click)="readAllCustomers()">Cancel</button>
                    </td>
                </tr>
            </table>            
            
            <hr>

            <div style="text-align: right; font-size: large; font-weight: bolder;">
                <a routerLink="/user" class="nav-link fas fa-align-right"><b>Create New User</b></a>
            </div><br>
        <ul class="list-group">
            <li class="list-group-item" style="background-color:darkolivegreen; color: gainsboro;"
            *ngFor="let details of customerdetails | filter: filteredCustomerID: 'customerId'"
            > 
            <span class="badge" style="float:right;" > 
                {{ details.customerstatus }}
               </span>
                <span><strong>Customer ID : {{details.customerId}}</strong></span> | <br>
                <span><strong>Customer Name : {{details.customerName}}</strong></span> | <br>
                <span><strong>Address : {{details.customerAddress}}</strong></span> | <br>
                <span><strong>Phone : {{details.customerPhone}}</strong></span> | <br>
                <span><strong>EmailID : {{details.customerEmailId}}</strong></span> | <br>
                <span><strong>Gender : {{details.Gender}}</strong></span>  <br>
                <br>
                <div>
                    <li class="list-group-item" style="background-color:beige; color: dimgray;" 
                        *ngFor="let accountDetails of details.customerAccounts">
                        <span class="badge" style="float:right;" > 
                            {{ accountDetails.accountstatus }}
                        </span>
                        <span><strong>Account Number : {{accountDetails.accountnumber}}</strong></span> | <br>
                        <span><strong>Account Type : {{accountDetails.accounttype}}</strong></span> | <br>
                        <span><strong>Account Balance : {{accountDetails.balance}}</strong></span>  <br>
                    </li>
                </div>
                
            </li>
        </ul>
    </div>
</div>  
